# Data Wrangling on Auralin Dataset

Auralin dataset is a fabricated clinical trial dataset for the purpose of demonstrating how to undertake a full data wrangling process systematically.

More information about the data...

- This dataset was constructed with the consultation of real doctors to ensure plausibility.
- This clinical trial data for an alternative insulin was inspired and closely mimics this real [clinical trial for a new inhaled insulin called Afrezza](http://care.diabetesjournals.org/content/38/12/2266.long).
- The data quality issues in this dataset mimic real, [common data quality issues in healthcare data](http://media.hypersites.com/clients/1446/filemanager/Articles/DocCenter_Problem_with_data.pdf). These issues impact quality of care, patient registration, and revenue.
- The patients in this dataset were created using this [fake name generator](http://www.fakenamegenerator.com/order.php) and do not include real names, addresses, phone numbers, emails, etc.

---

## Assess

- Visualize by scrolling
- Visualize by programming

In [1]:
pwd

'/Users/alejandrosanz/Downloads'

In [2]:
import os 
os.chdir('projects_on_GitHub/data_wrangling/diabetes_data_wrangling')

In [3]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

pd.set_option('display.max_rows', None)

In [4]:
patients.head(10)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4

In [5]:
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
30,szilveszter,totth,35u - 39u,-,7.70,7.38,0.32
31,bao,she,-,48u - 45u,9.09,8.62,NaN
32,laura,ehrlichmann,-,43u - 40u,7.95,7.46,0.99
33,cannan,cabrera,-,40u - 31u,7.94,7.58,NaN
34,alexander,mathiesen,47u - 58u,-,7.96,7.55,NaN
35,csaba,sági,-,35u - 29u,7.88,7.48,0.90
36,chỉ,lâm,45u - 48u,-,7.68,7.24,NaN
37,władysław,wieczorek,24u - 37u,-,7.92,7.47,NaN
38,kristján,ingason,44u - 55u,-,7.92,7.57,0.35
39,krisztina,magyar,-,32u - 27u,7.52,7.01,0.51
40,ásta,grímsdóttir,-,29u - 30u,7.62,7.16,0.96
41,mahmud,kadyrov,-,44u - 43u,7.53,7.11,0.92
42,marija,grubišić,37u - 43u,-,7.53,7.15,0.38
43,jens,poulsen,-,36u - 32u,7.55,7.16,0.39
44,sauli,koivuniemi,43u - 47u,-,7.67,7.37,0.30
45,zdeněk,synek,-,31u - 31u,7.67,7.32,NaN
46,mariana,souza,36u - 42u,-,7.86,7.51,0.35
47,jad allah,gaber,-,38u - 41u,7.97,7.52,NaN
48,zak,kelly,-,38u - 38u,7.66,7.26,NaN
49,jackson,addison,-,42u - 42u,7.99,7.51,0.98
50,albinca,komavec,-,41u - 39u,7.89,7.46,NaN
51,kristoffer,martinsen,29u - 37u,-,9.18,8.64,NaN
52,mỹ,quynh,57u - 64u,-,7.61,7.16,NaN
53,nasser,mansour,-,33u - 31u,7.51,7.06,0.95
54,oles,zhdanov,54u - 67u,-,7.52,7.11,NaN
55,triana.,terrazas,34u - 42u,-,7.71,7.34,0.37
56,juliusz,majewski,-,41u - 39u,7.78,7.31,0.97
57,klementyna,sokołowska,-,42u - 41u,7.98,7.53,0.95
58,gabryŝ,tomaszewski,29u - 37u,-,7.87,7.47,NaN
59,leixandre,alanis,61u - 67u,-,7.74,7.32,NaN
60,onyekachukwu,obinna,37u - 46u,-,7.58,7.12,NaN
61,mijndert,ouwendijk,30u - 39u,-,7.81,7.50,0.31
62,hanka,gegič,-,19u - 27u,7.67,7.29,NaN
63,coralie,allaire,39u - 46u,-,7.63,7.30,0.33
64,cumelén,miramontes,24u - 32u,-,7.71,7.33,0.38
65,elisabeth,dimmen,-,41u - 36u,7.60,7.28,0.32
66,louise,johnson,32u - 42u,-,7.63,7.32,0.31
67,joe,edwards,-,36u - 37u,9.35,8.89,0.96
68,fatimah,kinfe,-,43u - 42u,7.88,7.56,NaN
69,ivan,fomin,25u - 32u,-,9.12,8.73,0.39
70,tosh,jensen,-,51u - 48u,7.93,7.69,0.24
71,hugo,collins,-,53u - 55u,8.00,7.53,0.97
72,gabrielle,bidwill,-,44u - 49u,7.76,7.37,0.39
73,mette,sandgreen,36u - 46u,-,7.56,7.08,NaN
74,ole,petersen,-,29u - 32u,7.95,7.55,NaN
75,mackenzie,mckay,-,44u - 43u,9.87,9.48,0.39
76,noriyuki,sakai,-,32u - 31u,7.58,7.16,0.92
77,placido,udinesi,-,38u - 41u,7.91,7.49,0.92
78,julia,werner,35u - 40u,-,7.58,7.24,0.34
79,avdei,tikhonov,27u - 36u,-,7.77,7.27,NaN
80,hideki,haraguchi,-,37u - 35u,7.59,7.05,0.54
81,robert,wagner,43u - 49u,-,9.84,9.52,0.32
82,maya,isaksson,33u - 41u,-,7.66,7.17,NaN
83,else,andersen,-,36u - 38u,7.98,7.60,NaN
84,furuta,osman,30u - 41u,-,7.52,7.18,0.34
85,nilton,quintanilla,42u - 49u,-,7.86,7.48,0.38
86,ananías,enríquez,-,44u - 45u,7.58,7.07,0.51
87,finley,chandler,31u - 45u,-,7.65,7.26,0.39
88,yumena,nakayama,-,34u - 32u,7.76,7.35,0.91
89,stefanie,herman,44u - 55u,-,7.72,7.30,NaN
90,karen,jakobsen,34u - 42u,-,7.59,7.25,0.34
91,michael,kristensen,-,40u - 39u,8.51,8.08,0.93
92,sousuke,nakahara,-,37u - 35u,7.91,7.49,0.92
93,melisa,mata,-,57u - 57u,8.56,8.27,0.29
94,kwasi,mensa,-,40u - 36u,8.29,7.89,NaN
95,jaakko,eskelinen,39u - 45u,-,7.73,7.42,0.31
96,abdul-nur,isa,-,54u - 50u,7.98,7.53,0.95
97,niels,lange,-,43u - 38u,7.58,7.21,NaN
98,idalia,moore,25u - 31u,-,8.34,7.90,NaN
99,abel,yonatan,-,38u - 39u,7.88,7.50,NaN
100,kai,cunha,-,37u - 36u,7.81,7.42,0.39
101,markus,solberg,-,35u - 30u,7.95,7.57,0.38
102,bội,tạ,-,41u - 40u,7.73,7.32,0.91
103,søren,frederiksen,-,56u - 58u,7.71,7.31,0.90
104,renzo,lucchese,53u - 64u,-,7.54,7.17,0.37
105,finlay,sheppard,-,31u - 30u,7.51,7.17,0.34
106,sofia,karlsen,-,35u - 29u,7.62,7.15,0.97
107,flaviano,endrizzi,-,46u - 43u,7.93,7.56,0.37
108,mùi,lương,-,52u - 50u,7.74,7.32,0.92
109,marius,hansen,41u - 47u,-,7.97,7.53,NaN
110,suoma,koivunen,-,26u - 25u,7.59,7.13,NaN
111,mevla,grabljevec,-,51u - 55u,7.72,7.44,0.28
112,olof,holm,39u - 52u,-,7.85,7.43,NaN
113,kari,laatikainen,39u - 43u,-,7.50,7.11,NaN
114,sabr,amari,-,32u - 27u,7.94,7.57,NaN
115,xiuxiu,chang,32u - 41u,-,7.64,7.23,NaN
116,yasmin,silva,36u - 44u,-,8.88,8.46,NaN
117,javier,moquin,-,30u - 32u,8.00,7.59,0.91
118,burrell,mathieu,46u - 58u,-,8.71,8.39,0.32
119,liisa,seppälä,36u - 47u,-,7.87,7.51,0.36
120,zikoranaudodimma,chinedum,41u - 51u,-,8.19,7.83,0.36
121,habte,kifle,42u - 48u,-,7.59,7.13,NaN
122,rafael,costa,50u - 60u,-,7.73,7.34,0.39
123,mgbankwo,afamefuna,-,36u - 37u,7.55,7.18,NaN
124,nate,bowden,-,48u - 47u,9.81,9.30,0.51
125,marcel,peters,48u - 60u,-,9.56,9.19,0.37
126,jowita,wiśniewska,-,22u - 23u,7.50,7.08,0.92
127,farizah,sleiman,-,50u - 50u,7.80,7.40,0.90
128,david,gustafsson,-,33u - 34u,7.72,7.28,0.94
129,kaodilinakachukwu,nnonso,63u - 68u,-,7.76,7.40,0.36
130,kamila,pecinová,-,54u - 51u,7.77,7.39,0.38
131,søren,sørensen,-,41u - 39u,7.93,7.59,0.34
132,urso,aranda,30u - 38u,-,7.60,7.16,NaN
133,vasco,van de wiel,-,31u - 29u,7.94,7.51,0.93
134,kwemtochukwu,ogochukwu,-,34u - 37u,7.86,7.53,NaN
135,rut,halldórsdóttir,31u - 40u,-,9.01,8.63,0.38
136,joseph,day,29u - 36u,-,7.70,7.19,NaN
137,ivona,jakšić,-,41u - 41u,7.98,7.54,NaN
138,giovana,rocha,-,23u - 21u,7.87,7.38,0.99
139,barbora,vesecká,29u - 45u,-,7.90,7.46,NaN
140,jesse,luoma,-,39u - 37u,7.72,7.35,NaN
141,johana,hrdá,54u - 54u,-,7.79,7.49,0.30
142,stephen,mayberry,-,40u - 39u,7.82,7.47,0.35
143,nora,nyborg,55u - 59u,-,7.83,7.48,0.35
144,nicoline,østergaard,24u - 32u,-,7.84,7.57,0.27
145,ruman,bisliev,46u - 53u,-,7.72,7.39,0.33
146,hanna-mari,filatov,55u - 61u,-,7.71,7.30,NaN
147,krisztián,bakos,-,60u - 60u,7.75,7.29,0.96
148,mustafa,lindström,-,35u - 33u,7.92,7.60,NaN
149,muhammad,holden,29u - 37u,-,7.55,7.09,NaN
150,manuela,cindrić,55u - 66u,-,8.07,7.76,0.31
151,nile,mehari,40u - 53u,-,9.25,8.79,NaN
152,lewis,webb,39u - 44u,-,7.85,7.52,0.33
153,nicole,zimmerman,-,59u - 56u,8.98,8.57,0.91
154,saidmohmad,rushisvili,-,49u - 46u,7.90,7.48,0.92
155,russom,amanuel,-,39u - 36u,7.86,7.40,0.96
156,chidalu,onyekaozulu,-,42u - 41u,7.54,7.27,0.27
157,asuna,morita,-,35u - 39u,7.58,7.25,0.33
158,sandy,gunnarsson,-,41u - 44u,7.97,7.45,NaN
159,yunadi,barsukov,48u - 58u,-,9.47,9.05,NaN
160,harley,tucker,47u - 57u,-,7.97,7.64,0.33
161,rebecca,priest,40u - 42u,-,7.87,7.57,0.30
162,helen,luwam,32u - 42u,-,7.66,7.19,NaN
163,malik,vaneker,44u - 54u,-,7.55,7.12,NaN
164,felicijan,bubanj,62u - 75u,-,7.85,7.50,0.35
165,jeramy,hopkins,37u - 46u,-,8.02,7.67,0.35
166,annie,allen,36u - 42u,-,9.95,9.58,0.37
167,lamara,dratchev,49u - 58u,-,7.75,7.40,0.35
168,nadwah,naifeh,44u - 53u,-,7.97,7.52,NaN
169,benigna,ferrari,41u - 52u,-,7.78,7.36,NaN
170,sun,ko,33u - 39u,-,7.59,7.23,0.36
171,justyna,kowalczyk,24u - 34u,-,9.84,9.44,NaN
172,malina,balagić,-,48u - 50u,7.65,7.30,NaN
173,gabriele,saenger,22u - 30u,-,8.35,7.97,0.38
174,mustafa,adonay,58u - 69u,-,7.79,7.34,NaN
175,marina,glockner,35u - 45u,-,7.88,7.55,0.33
176,andré,nordin,40u - 47u,-,7.60,7.27,0.33
177,samuel,blix,48u - 55u,-,7.97,7.56,NaN
178,kerman,dandonneau,41u - 50u,-,7.82,7.28,NaN
179,jan,baum,53u - 57u,-,7.57,7.19,NaN
180,merci,leroux,27u - 33u,-,8.98,8.64,0.34
181,kong,lei,-,32u - 30u,7.58,7.15,0.93
182,kajsa,eidem,-,41u - 38u,7.77,7.34,0.93
183,tegan,johnson,-,34u - 34u,7.79,7.43,0.36
184,chân,bùi,31u - 42u,-,7.53,7.18,0.35
185,leah,wong,-,28u - 31u,7.79,7.42,NaN
186,fraser,hunter,-,36u - 32u,7.70,7.42,NaN
187,león,reynoso,-,38u - 40u,7.59,7.06,0.53
188,bouke,glaser,-,26u - 30u,7.72,7.34,NaN
189,mee,chung,42u - 56u,-,7.56,7.20,0.36
190,martha,afanasyeva,-,34u - 41u,7.81,7.39,NaN
191,monika,lončar,-,49u - 46u,9.13,8.72,0.91
192,valur,bjarkason,-,31u - 36u,9.71,9.41,0.30
193,svanhvít,guðjónsdóttir,37u - 44u,-,7.57,7.11,NaN
194,eufrosina,schiavone,-,23u - 23u,9.00,8.56,0.94
195,minea,lindgren,38u - 45u,-,9.45,8.94,NaN
196,peter,pospíšil,51u - 60u,-,7.76,7.34,NaN
197,angelico,marchesi,-,58u - 58u,7.62,7.18,NaN
198,amalie,christensen,38u - 45u,-,7.88,7.55,0.33
199,novalie,berg,-,32u - 31u,7.85,7.49,0.36
200,nicolas,ferreira,43u - 51u,-,7.99,7.72,0.27
201,lena,baer,-,41u - 38u,7.70,7.40,0.30
202,martina,tománková,-,50u - 57u,7.83,7.36,0.97
203,willem-jan,van der lubbe,-,40u - 40u,7.57,7.20,0.37
204,maximus,henzen,49u - 55u,-,7.79,7.34,NaN
205,najla,touma,-,39u - 44u,7.66,7.31,NaN
206,emy,markus,-,29u - 24u,7.53,7.14,0.39
207,jin,kung,55u - 60u,-,7.80,7.50,0.30
208,katrine,lynge,-,43u - 42u,7.60,7.13,NaN
209,kári,hervinsson,37u - 43u,-,8.09,7.66,NaN
210,vanessa,ferguson,39u - 50u,-,7.97,7.58,NaN
211,nương,vũ,31u - 38u,-,7.68,7.29,NaN
212,alexander,hueber,35u - 38u,-,7.71,7.35,0.36
213,cecilie,nilsen,-,49u - 50u,9.63,9.21,0.92
214,erick,pinto,44u - 54u,-,7.88,7.49,0.39
215,adib,ghanem,-,46u - 49u,7.59,7.12,0.97
216,þórunn,tryggvadóttir,-,30u - 32u,7.98,7.51,NaN
217,taylah,mobourne,41u - 50u,-,7.90,7.51,0.39
218,sirkka,piirainen,-,26u - 24u,8.90,8.59,NaN
219,diệt,bùi,-,30u - 32u,9.11,8.76,0.35
220,sinead,reilly,27u - 39u,-,7.76,7.39,0.37
221,torben,mortensen,-,44u - 40u,7.80,7.40,0.90
222,veronica,bogolyubova,25u - 35u,-,7.69,7.31,0.38
223,anenechi,chidi,52u - 61u,-,7.64,7.31,0.33
224,cintia,csorba,47u - 50u,-,8.49,8.00,NaN
225,liêm,phan,-,43u - 48u,7.58,7.10,0.98
226,daud,batukayev,-,37u - 30u,7.98,7.51,0.97
227,erica,macdonald,33u - 39u,-,7.55,7.26,0.29
228,hawra',tuma,26u - 35u,-,7.93,7.56,0.37
229,sandra,taylor,51u - 58u,-,7.84,7.49,0.35
230,eric,ek,-,51u - 47u,7.92,7.47,NaN
231,kisanet,selassie,48u - 59u,-,9.64,9.27,0.37
232,pamela,hill,-,27u - 29u,9.53,9.10,0.93
233,arne,jørgensen,32u - 43u,-,9.65,9.31,0.34
234,haylom,nebay,-,42u - 44u,7.62,7.22,0.90
235,eemil,laine,-,30u - 29u,7.89,7.53,NaN
236,hường,lâm,40u - 49u,-,7.66,7.29,0.37
237,manouck,wubbels,55u - 62u,-,7.66,7.40,0.26
238,anja,hueber,-,31u - 32u,8.82,8.36,NaN
239,linda,lundy,-,48u - 53u,7.97,7.52,0.95
240,rocco,christie,-,42u - 40u,7.96,7.62,NaN
241,elisabetta,lorenzo,-,28u - 24u,7.78,7.42,NaN
242,fareeq,kalb,-,51u - 54u,7.97,7.59,NaN
243,sargent,flamand,-,47u - 39u,7.92,7.49,0.93
244,angel,grant,31u - 37u,-,7.93,7.47,NaN
245,wu,sung,-,47u - 48u,7.61,7.12,0.99
246,tomáš,navrátil,24u - 36u,-,7.84,7.41,NaN
247,johanna,dreher,51u - 59u,-,7.77,7.34,NaN
248,brianna,lansell,39u - 47u,-,9.48,9.06,NaN
249,kang,mai,-,39u - 36u,7.78,7.45,0.33
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nørgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

In [6]:
adverse_reactions

     given_name     surname           adverse_reaction
0         berta  napolitani  injection site discomfort
1          lena        baer               hypoglycemia
2        joseph         day               hypoglycemia
3        flavia  fiorentino                      cough
4       manouck     wubbels          throat irritation
5       jasmine       sykes               hypoglycemia
6        louise     johnson               hypoglycemia
7       albinca     komavec               hypoglycemia
8           noe      aranda               hypoglycemia
9         sofia   hermansen  injection site discomfort
10        tegan     johnson                   headache
11         abel     yonatan                      cough
12    abdul-nur         isa               hypoglycemia
13         leon      scholz  injection site discomfort
14     gabriele     saenger               hypoglycemia
15       jia li        teng                     nausea
16        jakob    jakobsen               hypoglycemia
17  christopher    woodward                     nausea
18          ole    petersen               hypoglycemia
19       finley    chandler                   headache
20     anenechi       chidi               hypoglycemia
21     miłosław  wiśniewski  injection site discomfort
22        lixue       hsueh  injection site discomfort
23        merci      leroux               hypoglycemia
24         kang         mai  injection site discomfort
25       elliot  richardson               hypoglycemia
26      clinton      miller          throat irritation
27       idalia       moore               hypoglycemia
28       xiuxiu       chang               hypoglycemia
29         alex    crawford               hypoglycemia
30       monika      lončar               hypoglycemia
31       steven         roy                   headache
32      cecilie      nilsen               hypoglycemia
33    krisztina      magyar               hypoglycemia

In [7]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [8]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    280 non-null    object
 1   surname       280 non-null    object
 2   auralin       280 non-null    object
 3   novodra       280 non-null    object
 4   hba1c_start   280 non-null    float64
 5   hba1c_end     280 non-null    float64
 6   hba1c_change  171 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [9]:

patients.surname.value_counts()

Doe                  6
Taylor               3
Jakobsen             3
Tạ                   2
Cabrera              2
Bùi                  2
Liễu                 2
Tucker               2
Johnson              2
Correia              2
Lund                 2
Batukayev            2
Berg                 2
Souza                2
Schiavone            2
Woźniak              2
Grímsdóttir          2
Collins              2
Aranda               2
Nilsen               2
Cindrić              2
Gersten              2
Kadyrov              2
Dratchev             2
Ogochukwu            2
Hueber               2
Kowalczyk            2
Lương                2
Silva                2
Lâm                  2
Parker               2
Bazarova             1
Henzen               1
Yuan                 1
Guzman               1
Ferguson             1
Ménard               1
Maslov               1
Majewski             1
Pinto                1
Gibson               1
Sokołowska           1
Piirainen            1
Afamefuna            1
Traustadóttir        1
Ziegler              1
Enríquez             1
Neudorf              1
Bubanj               1
Györfy               1
Zsinkó               1
Tromp                1
Gegič                1
Csonka               1
Nakayama             1
Nowakowski           1
Kifle                1
Cain                 1
Írisarson            1
Teichelmann          1
Lê                   1
Araujo               1
Combs                1
Horikawa             1
House                1
Leppäluoto           1
Fesahaye             1
Heimisson            1
Koivunen             1
Mikkelsen            1
Hermansen            1
Markus               1
Mehler               1
Harold               1
Sjöberg              1
Baumgaertner         1
Lukić                1
Mattila              1
Bjarkason            1
Jørgensen            1
Kozłowska            1
Kristiansen          1
Lucchese             1
Leroux               1
Enoksen              1
Smith                1
Bisliev              1
Bonami               1
Holm                 1
Tománková            1
Uspensky             1
Osman                1
Miller               1
Nyborg               1
Pecinová             1
Compagnon            1
Boyles               1
Adonay               1
Citizen              1
Kinfe                1
Olofsson             1
Shuler               1
Phan                 1
Kishiev              1
Clapp                1
Mayberry             1
Filatov              1
Adamski              1
Freud                1
Mobourne             1
Mathiesen            1
Baer                 1
Yudina               1
Tikhonov             1
Labrosse             1
Carreiro             1
Tomaszewski          1
Udinesi              1
Nash                 1
MacDonald            1
Edwards              1
Blix                 1
Fujiwara             1
Heilmann             1
Barlow               1
Moquin               1
Barsukov             1
Zetticci             1
Klobučar             1
Luman                1
Baum                 1
Lei                  1
Lillebø              1
Obinna               1
Ek                   1
Authier              1
Wolf                 1
Kalb                 1
Russo                1
Achebe               1
Andersen             1
Carvalho             1
Haugen               1
Peters               1
Brhane               1
Rahal                1
van de Wiel          1
Koffeman             1
Vesecká              1
Navrátil             1
Jurković             1
Chung                1
Bole                 1
Luoma                1
Napolitani           1
Lavrentyev           1
Filípek              1
Addison              1
Fakhoury             1
Amari                1
Murakami             1
Mortensen            1
Guðbrandsson         1
Lundy                1
Thạch                1
Dandonneau           1
Miramontes           1
Hrdá                 1
Wiśniewski           1
Koivuniemi           1
Konovšek             1
Dimmen               1
Montez               1
Seppälä              1
Costa                1
Mai                  1
Vũ                   1
Lansell              1
Woodward             1
Maríasson            1
Rukavina             1
Onyekaozulu          1
Nicholls             1
Walczak              1
Arsanukayev          1
Šlezinger            1
Pecha                1
Macleod              1
Abdulov              1
Nebay                1
Karlsen              1
Sørensen             1
Archer               1
Šubrtová             1
McIntosh             1
Richardson           1
Takenaka             1
Tansey               1
Gaber                1
Hori                 1
Žibrik               1
Ferrari              1
Asfour               1
McKay                1
Mensa                1
Johnsrud             1
Fomin                1
Uspenskaya           1
Herczegh             1
﻿Dvořák              1
Lindgren             1
Bogolyubova          1
Polak                1
Hyypiä               1
Hopkins              1
Pak                  1
Nørgaard             1
Geisler              1
Ekechukwu            1
Ch'eng               1
Salib                1
Lindström            1
Frederiksen          1
Allaire              1
Koldenhof            1
Rap                  1
Lynge                1
Scheltens            1
Brodahl              1
Miles                1
Ruais                1
Ghanem               1
Phạm                 1
Sauvé                1
Musliyevich          1
Wellish              1
Dreher               1
Fournier             1
Vestergaard          1
Oates                1
Nucci                1
Eldarkhanov          1
Chang                1
Khoury               1
Allen                1
Resanovič            1
Hunter               1
Nebeolisa            1
Azevedo              1
Vaara                1
Poulsen              1
Rokavc               1
Izmailov             1
Ribeiro              1
Andreyeva            1
Ingason              1
Scholz               1
Kašná                1
Luwam                1
Higa                 1
Mehari               1
Zimmerman            1
Webb                 1
Ščančar              1
Hsueh                1
Kristensen           1
Laine                1
Sági                 1
Reynoso              1
Debord               1
Fejes                1
Hansen               1
Hill                 1
Morita               1
Hrafnsdóttir         1
Ibragimov            1
Henriksen            1
Laatikainen          1
Onwughara            1
Ekwueme              1
Grabljevec           1
Montagu              1
Ibeamaka             1
O'Brian              1
Grunewald            1
Villalpando          1
Eskelinen            1
Schmitt              1
Sleiman              1
Tryggvadóttir        1
Balagić              1
Tabata               1
Gustafsson           1
Mata                 1
Christensen          1
Flamand              1
Roy                  1
Antoun               1
Knutsen              1
Wagner               1
Guðjónsdóttir        1
Kung                 1
Radislav             1
Villadsen            1
Grant                1
Chin                 1
Crawford             1
Zaitseva             1
Štěpánek             1
Csorba               1
Synek                1
Shishani             1
Jindrová             1
Fisher               1
Teng                 1
Czerwinska           1
Sandgreen            1
Sakai                1
Tar                  1
Gyenes               1
Sung                 1
Petersen             1
Lombardi             1
Eidem                1
Vaneker              1
Okoli                1
Moore                1
Quintanilla          1
Cotton               1
Stanić               1
Touma                1
Michalčíková         1
Jakšić               1
Þráinsson            1
Miranda              1
Lange                1
Novosel              1
Borgen               1
Tsukada              1
Ouwendijk            1
Bakos                1
Ferreira             1
Selassie             1
Beauvais             1
She                  1
Gunnarsson           1
Ko                   1
Nnonso               1
Mancini              1
Pospíšil             1
Alanis               1
Azuma                1
de Keizer            1
Chinedum             1
Prince               1
Sheppard             1
Hervinsson           1
Lončar               1
Jephcott             1
Efrem                1
Német                1
Cumpston             1
Su                   1
Martinsson           1
Reilly               1
Gormanston           1
Woldendorp           1
Zhdanov              1
Isa                  1
Wieczorek            1
Naifeh               1
Wubbels              1
Nordin               1
Galvez               1
Priest               1
Petrussen            1
Bois                 1
Sykes                1
Bowden               1
McGregor             1
Vukelić              1
Gomes                1
Knudsen              1
Jensen               1
Day                  1
Fodor                1
Lorenzo              1
Isaksson             1
Terrazas             1
Horvat               1
Sultygov             1
Rushisvili           1
Solberg              1
Karjalainen          1
Totth                1
Herman               1
Mathieu              1
Abraham              1
Svensson             1
Schneider            1
Grubišić             1
Afanasyeva           1
Halldórsdóttir       1
Allan                1
Madrid               1
Wong                 1
Cabán                1
Wilkinson            1
Tuma                 1
Mustafa              1
Guerra               1
Aličajić             1
Pérez                1
Amanuel              1
Milne                1
van der Lubbe        1
Glockner             1
Rice                 1
Bidwill              1
Rosario              1
Ehrlichmann          1
Chidi                1
Wolfe                1
Galić                1
Skarphéðinsdóttir    1
Jackson              1
Quynh                1
Nielsen              1
Endrizzi             1
Magyar               1
Haraguchi            1
Wysocki              1
Casárez              1
Kelly                1
Adams                1
Tobeolisa            1
Hsu                  1
Yonatan              1
Kos                  1
Onio                 1
Chandler             1
Christie             1
Østergaard           1
Iwata                1
Saenger              1
Mansour              1
Rocha                1
Cunha                1
Wiśniewska           1
Holden               1
Vieira               1
Bilodeau             1
Mueller              1
Werner               1
Bouw                 1
Mironov              1
Komavec              1
Glaser               1
Martinsen            1
Nakahara             1
Marchesi             1
Löfgren              1
Yao                  1
Ono                  1
Fiorentino           1
Hughes               1
Name: surname, dtype: int64

In [10]:
patients.address.value_counts()

123 Main Street                  6
2476 Fulton Street               2
648 Old Dear Lane                2
2778 North Avenue                2
1854 Kyle Street                 1
4040 Linda Street                1
1434 Oak Ridge Drive             1
325 Eastland Avenue              1
4273 Deans Lane                  1
4704 Edsel Road                  1
2386 Linda Street                1
1942 Harry Place                 1
4192 Holly Street                1
1275 Goldie Lane                 1
4476 Center Street               1
3688 Adonais Way                 1
669 Archwood Avenue              1
3714 Ben Street                  1
2531 Eastland Avenue             1
1207 Garfield Road               1
602 Tator Patch Road             1
1109 Beechwood Drive             1
4643 Reeves Street               1
1373 Wilmar Farm Road            1
1904 Granville Lane              1
2931 Romano Street               1
260 Derek Drive                  1
3688 Glenview Drive              1
3113 Timber Ridge Road           1
2530 Victoria Court              1
2127 Columbia Mine Road          1
1231 Grim Avenue                 1
1233 Liberty Avenue              1
202 Ingram Street                1
1203 Benson Park Drive           1
1343 Clair Street                1
836 Dovetail Estates             1
1742 Tea Berry Lane              1
4984 Hampton Meadows             1
2397 Bell Street                 1
1790 Nutter Street               1
4291 Patton Lane                 1
212 Tibbs Avenue                 1
4649 Worley Avenue               1
1614 Heather Sees Way            1
3731 Swick Hill Street           1
3800 Tetrick Road                1
1810 Hardesty Street             1
2704 Windy Ridge Road            1
707 Gateway Avenue               1
4064 Marigold Lane               1
1786 Gerald L. Bates Drive       1
4015 Juniper Drive               1
783 Callison Lane                1
1389 Nutters Barn Lane           1
649 Nutter Street                1
182 Cross Street                 1
2011 Eastland Avenue             1
441 Tibbs Avenue                 1
2754 Westwood Avenue             1
2316 Ingram Road                 1
2152 Heritage Road               1
4155 Raccoon Run                 1
4500 Myra Street                 1
4988 Lynn Street                 1
2651 Black Oak Hollow Road       1
945 Maple Avenue                 1
4277 Mutton Town Road            1
230 Lady Bug Drive               1
323 Platinum Drive               1
163 Hide A Way Road              1
1815 Garrett Street              1
1813 Lindale Avenue              1
1782 New Creek Road              1
4230 Ridenour Street             1
2915 Lynn Avenue                 1
1368 Yorkshire Circle            1
2970 Forest Avenue               1
3411 Pyramid Valley Road         1
3788 Worthington Drive           1
1330 Lincoln Street              1
4929 Raver Croft Drive           1
3818 Strother Street             1
633 Better Street                1
3427 Gerald L. Bates Drive       1
2873 John Calvin Drive           1
3613 Lodgeville Road             1
3977 Jail Drive                  1
4386 Badger Pond Lane            1
796 Eagle Street                 1
2043 Jadewood Drive              1
922 Chapmans Lane                1
4682 Science Center Drive        1
522 Lamberts Branch Road         1
1956 Rosemont Avenue             1
1703 Everette Alley              1
1350 Meadow Lane                 1
632 Peaceful Lane                1
1463 Beechwood Avenue            1
4143 Big Indian                  1
3857 Straford Park               1
3234 Sardis Station              1
4795 Better Street               1
4839 North Avenue                1
1507 Woodlawn Drive              1
1271 Pretty View Lane            1
2645 Moore Avenue                1
1589 Roosevelt Wilson Lane       1
4556 Oakdale Avenue              1
4271 Cherry Ridge Drive          1
69 Mattson Street                1
3538 Paul Wayne Haggerty Road    1
1384 Dovetail Estates            1
1731 Chandler Drive              1
4168 Coventry Court              1
1072 Bird Spring Lane            1
1763 Williams Mine Road          1
2146 Willow Greene Drive         1
1079 Ingram Street               1
3261 Desert Broom Court          1
4707 Parkway Street              1
909 Williams Avenue              1
718 Eden Drive                   1
1624 Rosebud Avenue              1
3072 Braxton Street              1
1497 Hidden Meadow Drive         1
4110 Capitol Avenue              1
2886 Straford Park               1
1846 Joseph Street               1
664 Lyon Avenue                  1
2967 Prudence Street             1
936 Lightning Point Drive        1
383 Marion Street                1
1333 Comfort Court               1
208 Birch  Street                1
2578 Tenmile                     1
1341 Chatham Way                 1
1049 Park Boulevard              1
3402 Kildeer Drive               1
283 Simons Hollow Road           1
1895 Hart Ridge Road             1
435 Pike Street                  1
2621 Koontz Lane                 1
2972 Hillview Street             1
3574 Park Boulevard              1
1043 Ventura Drive               1
3868 Freed Drive                 1
2270 Bel Meadow Drive            1
901 Southern Street              1
3543 Cherry Ridge Drive          1
2866 Myra Street                 1
3548 Hilltop Drive               1
2103 Edington Drive              1
4784 Paul Wayne Haggerty Road    1
2813 Frederick Street            1
3094 Oral Lake Road              1
4223 Chestnut Street             1
3303 Anmoore Road                1
3180 Still Pastures Drive        1
4093 Smith Street                1
685 Duncan Avenue                1
4977 Arlington Avenue            1
2785 Norma Lane                  1
3652 Boone Crockett Lane         1
3958 Liberty Avenue              1
4640 Windy Ridge Road            1
494 Clarksburg Park Road         1
570 Alpha Avenue                 1
2272 Williams Avenue             1
1463 Martha Ellen Drive          1
87 Wood Duck Drive               1
1510 Allison Avenue              1
4720 Gordon Street               1
3697 Drainer Avenue              1
4912 Hart Country Lane           1
1027 Tenmile Road                1
377 Norman Street                1
4334 Black Oak Hollow Road       1
1962 Cabell Avenue               1
456 Delaware Avenue              1
1717 Vineyard Drive              1
1821 Virginia Street             1
2272 Woodland Avenue             1
2661 Russell Street              1
200 Hall Place                   1
2168 Butternut Lane              1
204 Rockwell Lane                1
4689 Briarhill Lane              1
1690 Fannie Street               1
1160 Taylor Street               1
2831 Milford Street              1
4473 Church Street               1
142 Broad Street                 1
3730 Seth Street                 1
4220 Simpson Square              1
4019 Cerullo Road                1
2690 Pin Oak Drive               1
2063 Newton Street               1
631 Isaacs Creek Road            1
4111 Thunder Road                1
4649 Joanne Lane                 1
1092 Farm Meadow Drive           1
2566 Ingram Street               1
3141 Brentwood Drive             1
1953 Rhapsody Street             1
1240 Summit Park Avenue          1
3634 Lyon Avenue                 1
3499 Baker Avenue                1
4945 Jarvis Street               1
2913 Rogers Street               1
3130 Jessie Street               1
479 Elmwood Avenue               1
1829 Bungalow Road               1
2836 Boring Lane                 1
4851 Andy Street                 1
2945 Ferguson Street             1
3457 Bridge Avenue               1
1179 Patton Lane                 1
34 Hamill Avenue                 1
3165 Upton Avenue                1
3781 Hamill Avenue               1
4145 Fairfax Drive               1
241 Freshour Circle              1
2338 Virginia Street             1
1014 Locust Court                1
1251 Clarence Court              1
4243 Hidden Meadow Drive         1
2246 Pheasant Ridge Road         1
90 Meadow View Drive             1
4567 Hazelwood Avenue            1
272 Boone Crockett Lane          1
2607 Water Street                1
4535 Prospect Street             1
1428 Turkey Pen Lane             1
3710 Jerry Dove Drive            1
3391 Marcus Street               1
995 Beechwood Avenue             1
4970 Heather Sees Way            1
3686 Meadowcrest Lane            1
2310 Overlook Drive              1
3945 Simons Hollow Road          1
2121 Liberty Avenue              1
3682 Stiles Street               1
2640 Sweetwood Drive             1
1009 Felosa Drive                1
1147 Kelley Road                 1
1934 August Lane                 1
4814 Layman Court                1
4310 Johnson Street              1
720 Tator Patch Road             1
2641 Michael Street              1
2636 Benson Park Drive           1
1094 Jones Avenue                1
1733 Blackwell Street            1
2055 Emeral Dreams Drive         1
943 Hickory Ridge Drive          1
2881 Harter Street               1
2166 Tipple Road                 1
2438 Shady Pines Drive           1
1346 Nicholas Street             1
3314 Rocket Drive                1
4148 Callison Lane               1
1536 John Daniel Drive           1
1140 Willis Avenue               1
576 Brown Bear Drive             1
1812 Poplar Street               1
3558 Longview Avenue             1
57 Norman Street                 1
1557 Byers Lane                  1
3300 Woodridge Lane              1
1168 Stout Street                1
2127 Elk City Road               1
1270 Haul Road                   1
959 Heritage Road                1
1262 Deans Lane                  1
1778 Rodney Street               1
2784 Turkey Pen Road             1
3488 Clair Street                1
3820 Terry Lane                  1
206 Eagle Lane                   1
1965 Crestview Manor             1
954 Summit Park Avenue           1
2884 Elsie Drive                 1
4646 Highland View Drive         1
1435 Limer Street                1
3479 Elm Drive                   1
510 Berry Street                 1
1886 Bicetown Road               1
3008 Walkers Ridge Way           1
4982 Wood Street                 1
155 Red Hawk Road                1
2531 Cantebury Drive             1
4380 Grim Avenue                 1
3006 Maple Court                 1
550 Cliffside Drive              1
1493 Randolph Street             1
1495 Post Farm Road              1
1826 Poplar Chase Lane           1
2687 Hinkle Deegan Lake Road     1
2957 Feathers Hooves Drive       1
2020 Gore Street                 1
1774 George Avenue               1
4018 Poplar Avenue               1
2333 Hidden Pond Road            1
883 Oakwood Circle               1
77 Juniper Drive                 1
1092 Deans Lane                  1
990 Melville Street              1
4178 Despard Street              1
4870 Corbin Branch Road          1
4120 Thompson Drive              1
4411 Libby Street                1
162 Brooklyn Street              1
1865 Honeysuckle Lane            1
4605 Hall Street                 1
2370 University Hill Road        1
3595 Stuart Street               1
288 Smith Street                 1
4213 Isaacs Creek Road           1
4519 Sussex Court                1
1116 Dog Hill Lane               1
3893 Eva Pearl Street            1
2172 Lynn Street                 1
1370 Flint Street                1
550 Mulberry Lane                1
3210 Hickory Lane                1
1054 Zappia Drive                1
3418 Tyler Avenue                1
4508 Goldcliff Circle            1
3920 Braxton Street              1
2625 Romines Mill Road           1
3542 Robinson Court              1
3115 May Street                  1
3106 Evergreen Lane              1
547 Weekley Street               1
1619 Melm Street                 1
1840 Millbrook Road              1
3417 Bassel Street               1
3259 Roy Alley                   1
4236 Beech Street                1
1736 Parrill Court               1
3641 Selah Way                   1
108 Griffin Street               1
4320 Rardin Drive                1
3209 Crowfield Road              1
3414 Franklin Avenue             1
4894 Chandler Hollow Road        1
4324 Oak Street                  1
4141 Davis Place                 1
353 Whaley Lane                  1
2074 Parrish Avenue              1
2418 Smith Street                1
430 Canis Heights Drive          1
592 Rafe Lane                    1
1525 Crestview Terrace           1
932 Memory Lane                  1
350 Ross Street                  1
115 Frank Avenue                 1
2389 Rubaiyat Road               1
3464 Big Indian                  1
3268 Karen Lane                  1
288 Colony Street                1
4386 Camden Street               1
2549 Pearlman Avenue             1
989 Wayback Lane                 1
2924 Stanley Avenue              1
3995 Colonial Drive              1
3227 Park Avenue                 1
4789 Devils Hill Road            1
3816 Grand Avenue                1
153 Fieldcrest Road              1
2917 Golden Ridge Road           1
846 Copperhead Road              1
3942 Jerome Avenue               1
513 Duck Creek Road              1
944 Thrash Trail                 1
98 Freshour Circle               1
2126 Pearl Street                1
4278 Hart Country Lane           1
3964 Walnut Avenue               1
2595 Feathers Hooves Drive       1
3216 Lodgeville Road             1
577 Chipmunk Lane                1
1984 Counts Lane                 1
1845 Saint Marys Avenue          1
3145 Sheila Lane                 1
373 Fantages Way                 1
4571 Walnut Hill Drive           1
1493 Poling Farm Road            1
2403 Ripple Street               1
475 Preston Street               1
284 Mudlick Road                 1
3650 Graystone Lakes             1
385 Walnut Avenue                1
1067 Ray Court                   1
2324 Benson Street               1
1753 Sherman Street              1
3743 Wescam Court                1
1975 Holden Street               1
4346 Sussex Court                1
1526 Tully Street                1
3084 Blue Spruce Lane            1
4943 Isaacs Creek Road           1
1540 Overlook Drive              1
4941 Marion Drive                1
2544 Worley Avenue               1
1033 Wayside Lane                1
2775 Single Street               1
4104 Kennedy Court               1
4890 Abia Martin Drive           1
2687 Black Oak Hollow Road       1
1030 McDonald Avenue             1
541 Green Hill Road              1
2102 Geraldine Lane              1
36 Heather Sees Way              1
3423 Burning Memory Lane         1
4103 Musgrave Street             1
4380 Riverside Drive             1
2808 Circle Drive                1
1066 Goosetown Drive             1
3077 Colony Street               1
2816 Ashford Drive               1
465 Southern Street              1
4160 Pratt Avenue                1
4792 Maud Street                 1
1257 Elsie Drive                 1
4237 Hamilton Drive              1
4932 Goldleaf Lane               1
4438 Reeves Street               1
4038 Farland Street              1
707 Goodwin Avenue               1
3683 Gorby Lane                  1
1808 Stuart Street               1
3636 Junior Avenue               1
3161 Fantages Way                1
1324 Duffy Street                1
4262 Heron Way                   1
2852 Irving Road                 1
4458 Stark Hollow Road           1
3214 Better Street               1
4900 Philli Lane                 1
4435 Poe Road                    1
2322 Grim Avenue                 1
677 Broad Street                 1
1403 Clousson Road               1
3063 School House Road           1
2458 Broadway Avenue             1
3662 Shinn Street                1
4852 Rose Avenue                 1
2935 Diamond Cove                1
192 Patton Lane                  1
994 Hill Croft Farm Road         1
3450 Southern Street             1
149 Marion Drive                 1
2335 Webster Street              1
826 Broad Street                 1
4102 Ritter Avenue               1
2691 Kessla Way                  1
4992 Moonlight Drive             1
3434 Holt Street                 1
4853 University Drive            1
1128 Jacobs Street               1
312 Jim Rosa Lane                1
2235 Catherine Drive             1
4890 Devils Hill Road            1
4033 White Avenue                1
3343 Jefferson Street            1
3251 Radio Park Drive            1
4105 Ferguson Street             1
3073 Bedford Street              1
321 Briercliff Road              1
1424 Primrose Lane               1
1990 Spring Avenue               1
1012 Lords Way                   1
174 Lost Creek Road              1
962 George Street                1
3390 Hidden Meadow Drive         1
1386 Farland Street              1
2421 Coal Road                   1
1051 Bassell Avenue              1
2356 Myra Street                 1
3539 Bottom Lane                 1
666 Whiteman Street              1
Name: address, dtype: int64

In [11]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
171    106.5
51     107.1
270    108.1
198    108.5
48     109.1
478    109.6
141    110.2
38     111.8
438    112.0
14     112.0
235    112.2
307    112.4
191    112.6
408    113.1
49     113.3
326    114.0
338    114.1
253    117.0
321    118.4
168    118.8
1      118.8
350    119.0
207    119.2
265    120.0
341    120.3
208    121.2
0      121.7
467    122.1
218    122.2
225    122.3
404    123.0
397    123.4
424    123.6
483    123.9
306    124.1
278    124.3
120    124.5
363    124.7
185    125.1
423    125.2
419    126.1
494    126.3
232    126.9
214    126.9
342    127.2
280    128.5
184    128.9
256    128.9
17     129.1
422    129.4
44     129.8
206    129.8
377    130.0
181    130.2
354    130.2
309    130.7
22     130.7
213    131.1
143    131.1
62     131.1
268    132.0
359    132.2
362    132.2
454    132.7
187    133.1
31     133.3
56     133.8
57     134.0
163    134.2
345    134.2
458    134.2
430    135.7
379    136.0
353    136.8
389    136.8
126    137.1
440    137.3
437    137.7
154    137.7
258    137.9
100    137.9
97     138.2
502    138.2
84     138.2
202    138.4
381    138.4
416    138.6
378    138.8
73     139.3
241    139.7
448    139.9
343    140.6
169    140.6
54     141.0
304    141.5
452    142.1
463    142.1
271    142.3
158    142.8
186    143.0
41     143.0
292    143.0
179    143.0
209    143.4
116    143.7
323    143.9
94     144.1
26     144.8
176    145.2
388    145.2
89     145.4
267    145.6
110    146.1
6      146.3
249    146.5
32     147.6
174    147.8
40     147.8
356    148.3
414    148.7
372    149.2
159    149.4
382    149.6
287    149.6
68     149.8
491    149.8
303    149.8
417    150.0
59     150.0
320    150.3
456    150.5
53     150.5
69     150.6
142    150.9
331    150.9
211    151.2
115    151.4
328    151.8
429    152.1
290    152.3
449    152.5
387    152.7
34     152.9
135    152.9
20     153.1
476    153.3
330    153.8
33     153.8
433    154.4
436    154.4
481    154.7
301    154.7
67     154.9
411    154.9
134    154.9
462    154.9
319    154.9
173    155.1
497    155.1
286    155.3
472    155.3
233    155.3
29     155.8
24     155.8
371    156.0
36     156.4
407    156.6
30     156.9
139    156.9
188    157.1
297    157.3
45     157.7
7      158.0
400    158.2
275    158.6
264    158.6
60     159.1
470    159.5
294    159.7
132    159.9
447    160.4
92     160.6
285    160.8
465    160.8
358    160.8
412    161.3
464    161.3
349    161.5
409    161.7
316    162.1
393    162.4
380    162.4
77     162.6
318    162.8
175    163.2
460    163.5
413    163.5
64     163.7
194    163.7
8      163.9
46     163.9
336    164.8
368    165.0
102    165.0
488    165.0
421    165.0
324    165.2
230    165.9
360    165.9
109    166.1
466    166.1
346    166.3
259    166.5
107    167.0
446    167.2
103    167.6
212    168.1
93     168.1
495    168.1
199    168.3
272    168.7
383    168.7
361    169.0
442    169.0
216    170.1
289    170.1
149    170.5
127    170.7
145    170.9
500    171.2
138    171.2
311    171.4
82     171.4
86     171.4
224    171.4
196    171.6
263    171.8
112    172.0
325    172.5
201    172.5
329    172.7
156    172.9
435    173.8
333    174.2
427    174.7
269    175.2
473    175.3
137    175.6
406    175.6
484    175.8
27     175.8
114    176.2
180    176.2
501    176.9
340    176.9
87     176.9
189    177.1
2      177.8
172    177.8
153    177.8
410    178.0
308    178.9
293    179.1
136    179.3
277    180.0
295    180.0
251    180.0
237    180.0
215    180.0
229    180.0
244    180.0
384    180.2
205    180.6
401    180.6
445    180.8
25     180.8
498    181.1
296    181.1
344    181.1
390    181.3
248    181.3
195    181.3
221    181.3
453    181.3
300    181.5
474    181.5
298    182.2
117    182.2
394    182.2
355    182.6
347    183.3
220    183.5
480    183.5
405    183.5
366    183.5
80     183.7
16     183.9
5      183.9
79     183.9
157    184.6
492    184.6
71     184.8
432    185.2
146    185.9
200    186.1
284    186.3
228    186.6
426    186.6
396    186.6
47     186.6
375    186.8
266    187.0
255    187.1
238    187.2
489    187.2
357    187.9
227    187.9
313    188.5
425    188.5
192    188.8
305    189.0
226    189.4
37     189.9
76     190.1
369    190.5
312    190.7
443    191.0
367    191.0
147    191.4
108    191.4
39     191.6
90     192.3
4      192.3
299    192.5
490    192.7
471    192.7
203    192.7
261    192.7
63     193.2
155    193.2
123    193.2
78     193.4
164    193.6
310    193.6
398    193.8
434    193.8
262    194.0
496    194.0
98     194.3
66     194.3
288    194.5
468    194.7
9      194.7
75     195.1
493    195.1
160    195.1
450    195.4
70     195.6
334    195.8
58     196.0
348    197.1
178    197.1
351    197.6
240    198.0
391    198.0
148    198.4
165    198.7
35     198.9
43     198.9
42     199.1
10     199.3
234    199.5
133    199.5
236    199.8
365    200.0
254    200.4
104    200.6
376    200.8
279    200.8
420    200.9
402    201.5
302    201.5
15     201.5
162    201.7
52     202.0
18     202.2
128    202.2
451    202.2
223    202.4
274    202.6
455    203.1
129    203.3
85     203.5
125    203.5
177    203.7
193    203.9
291    203.9
113    204.2
242    205.3
95     205.3
245    206.1
250    206.1
282    206.1
392    206.1
131    206.1
260    206.4
28     206.6
415    206.8
386    207.7
183    207.7
19     208.8
337    209.4
81     209.4
461    209.7
167    209.7
374    210.8
247    211.0
122    211.0
96     211.4
486    211.4
444    211.6
243    211.9
65     211.9
119    211.9
315    211.9
314    212.1
477    212.1
399    212.1
152    212.2
364    212.3
99     212.5
190    213.0
370    214.1
281    214.1
140    214.1
475    214.4
239    214.5
72     214.5
327    214.7
83     214.7
273    214.9
418    215.2
170    215.4
124    215.6
457    215.8
217    216.5
373    216.9
55     217.6
231    217.8
130    217.8
322    218.5
91     218.7
403    219.1
151    219.6
431    219.9
106    219.9
479    220.0
482    220.0
469    220.4
3      220.9
385    221.8
105    222.0
204    222.6
23     222.9
276    223.1
197    223.1
161    223.5
21     223.7
332    224.0
252    224.2
12     224.2
222    224.8
166    225.3
111    225.9
101    226.2
150    226.6
352    227.7
428    227.7
88     227.7
13     228.4
339    229.0
182    230.3
121    230.8
257    231.7
395    231.9
246    232.1
219    237.8
11     238.7
50     238.9
441    239.1
499    239.6
439    242.0
487    242.4
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, dtype: float64

In [12]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [13]:
patients.address.duplicated().sum()

19

In [14]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [15]:
patients[patients[['given_name', 'surname']].duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4

In [16]:
patients[patients.address.duplicated()][['given_name', 'surname']]

    given_name     surname
29        Jake    Jakobsen
219         Mỹ       Quynh
229       John         Doe
230  Elisabeth     Knudsen
234    Martina   Tománková
237       John         Doe
242       John     O'Brian
244       John         Doe
249   Benjamin      Mehler
251       John         Doe
257        Jin        Kung
264   Wafiyyah      Asfour
269     Flavia  Fiorentino
277       John         Doe
278   Generosa       Cabán
282      Sandy      Taylor
286      Lewis        Webb
296        Chỉ         Lâm
502        Pat     Gersten

In [17]:
treatments.auralin.isnull().sum()

0

In [18]:
treatments.novodra.isnull().sum()

0

In [19]:
# check how many common columns in three tables
all_columns = pd.Series(list(patients) + \
                        list(treatments) + \
                        list(adverse_reactions))

all_columns[all_columns.duplicated()]

14    given_name
15       surname
21    given_name
22       surname
dtype: object

In [20]:
# # This also works!
# a = set(patients)
# b = set(treatments)
# c = set(adverse_reactions)
# inters = a.intersection(b).intersection(c)
# inters

### Quality Issues
####  `patients` table
- zip code is a float not a string
- zip code has four digits sometimes
- Tim Neudorf height is 27 instead of 72 in
- full state names sometimes, abbreviations other times
- Dsvid Gustafsson
- Missing demographic information (address - contact columns)
- Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns)
- multiple phone number formats
- Default John Doe data
- Multiple records for Jakebsen, Gersten, Taylor
- kgs instead of lbs for Zaitseva weight


#### `treatments` table
- missing HbA1c changes
- The letter 'u' in starting and ending doses for Auralin and Novodra
- lowercase given names and surnames
- missing records (280 instead of 350)
- Erroneous datatypes (auralin and novodra columns)
- Inaccurate HbA1c changes (4s mistaken as 9s)
- Nulls represented as dashed (-) in auralin and novodra

#### `adverse_reactions` table
- lowercase given names and surnames



### Tidiness Issues

#### `patients` table
- contact column should be split into phone and email columns separately
 
#### `treatments` table
- three variables in two columns (should be like treatment, start_dose, end_dose)
- `given_name` and `surname` being redundant (Add `id` column to connect with `patients` table)
 
 
#### `adverse_reactions` table
- `given_name` and `surname` being redundant
- This table seems some kind of verbose (should be joined with `treatments` table)

## Clean

**General Process**
- Define
- Code
- Test

In [21]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

#### Missing Data Fixing

**`treatments`: missing records (280 instead of 350)**

___Define___

Import the cut treatments into a DataFrame and concatenate it with the original treatments DataFrame

___Code___

In [22]:
treatments_cut = pd.read_csv('treatments_cut.csv')

In [23]:
treatments_cut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    70 non-null     object
 1   surname       70 non-null     object
 2   auralin       70 non-null     object
 3   novodra       70 non-null     object
 4   hba1c_start   70 non-null     float64
 5   hba1c_end     70 non-null     float64
 6   hba1c_change  42 non-null     float64
dtypes: float64(3), object(4)
memory usage: 4.0+ KB

In [24]:
treatments_cut.shape[0] + treatments.shape[0]

350

In [25]:
treatments_clean = pd.concat([treatments_clean, treatments_cut], 
                             ignore_index=True)

___Test___

In [26]:
treatments_clean.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [27]:
treatments_clean.tail()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
348,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
349,armina,sauvé,36u - 46u,-,7.86,7.40,NaN

---
**`treatments`: Missing HbA1c changes and Inaccurate HbA1c changes (4s mistaken as 9s)**

___Define___

Recalculate the `hba1c_change` column: `hba1c_start` minus `hba1c_end`. 

___Code___

In [28]:
treatments_clean.hba1c_change = (treatments_clean.hba1c_start - 
                                 treatments_clean.hba1c_end)

___Test___

In [29]:
treatments_clean.hba1c_change.sample(20)

318    0.40
340    0.37
201    0.30
77     0.42
80     0.54
47     0.45
334    0.37
274    0.39
91     0.43
140    0.37
143    0.35
74     0.40
317    0.33
172    0.35
301    0.46
197    0.44
44     0.30
7      0.34
55     0.37
89     0.42
Name: hba1c_change, dtype: float64

#### Tidiness Issue Fixing

**Problem 1**

**`patients` table: `Contact` column contains two variables: phone number and email**

___Define___

Extract the *phone number* and *email* variables from the *contact* column using regular expressions and pandas' `str.extract` method. Drop the *contact* column when done.

___Code___

In [30]:
patients_clean['phone_number'] = patients_clean.contact.str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=True)

# [a-zA-Z] to signify emails in this dataset all start and end with letters
patients_clean['email'] = patients_clean.contact.str.extract('([a-zA-Z][a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+[a-zA-Z])', expand=True)

# Note: axis=1 denotes that we are referring to a column, not a row
patients_clean = patients_clean.drop('contact', axis=1)

___Test___

In [31]:
# Confirm contact column is gone
list(patients_clean)
# 'phone_number' in patients_clean.columns.values

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'birthdate',
 'weight',
 'height',
 'bmi',
 'phone_number',
 'email']

In [32]:
patients_clean.phone_number.sample(25)

463         573 437 7334
187         773-607-2647
286                  NaN
405         541-967-9779
44          207 861 4587
115         707 262 6503
204         405-234-5350
135         440-385-5011
79          302-397-6035
132         570-698-4203
82          678-350-2390
460    +1 (510) 238-1151
408    +1 (989) 390-0285
262         713-556-4328
334         630-837-9473
4           334-515-7487
56     +1 (706) 497-0891
472         601-446-6829
53          617-317-5055
66          760-287-8295
497    +1 (918) 984-9171
189    +1 (916) 453-3601
76          612-925-3123
464         205-467-9279
364         818-372-7106
Name: phone_number, dtype: object

In [33]:
# Confirm that no emails start with an integer (regex didn't match for this)
# as ascii code for `0-9` is prior to that of `alphabets`, i.e. ord('1') < ord('a')
patients_clean.email.sort_values().head()

404               AaliyahRice@dayrep.com
11          Abdul-NurMummarIsa@rhyta.com
332                AbelEfrem@fleckens.hu
258              AbelYonatan@teleworm.us
305    AddolorataLombardi@jourrapide.com
Name: email, dtype: object

**Problem 2**

**`treatments` table: Three variables in two columns (treatment, start dose and end dose)**

___Define___

Melt the *auralin* and *novodra* columns to a *treatment* and a *dose* column (dose will still contain both start and end dose at this point). Then split the dose column on ' - ' to obtain *start_dose* and *end_dose* columns. Drop the intermediate *dose* column.

___Code___

In [34]:
treatments_clean.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [35]:
treatments_clean = treatments_clean.melt(id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'], \
                                         var_name='treatment', \
                                         value_name='dose')

In [36]:
treatments_clean.sample(25)
treatments_clean.shape

(700, 7)